# Configuración de Telegram
TELEGRAM_TOKEN=TU_TOKEN_AQUI

# Configuración de Google Sheets
GOOGLE_SHEET_ID=TU_ID_DE_HOJA_DE_CALCULO
GOOGLE_SERVICE_ACCOUNT_EMAIL=tu-cuenta-de-servicio@proyecto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# Configuración del Servidor (Opcional)
PORT=3000
